.App {
  text-align: center;
  padding: 20px 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App h1 {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.chartsContainer {
  height: 360px;
  width: 940px;
  border: none;
  border-style: ridge;
  border-color: #fff;
  color: #fff;
  background-color: "#D37506";
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
  margin: 20px;
  display: inline-block;
  vertical-align: top;
}

.mapContainer {
  width: 80%;
  border: none;
  border-style: ridge;
  border-color: #fff;
  color: rgb(0, 0, 0);
  background-color: "#D37506";
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
  margin: 20px;
  display: inline-block;
}

.insightsContainer {
  width: 360px;
  height: 360px;
  border: none;
  border-style: ridge;
  border-color: #fff;
  color: rgb(0, 0, 0);
  background-color: "#D37506";
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
  margin: 20px;
  display: inline-block;
}

.buttonsContainer {
  height: 360px;
  width: 180px;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
}

.buttonStyle {
  height: 100px;
  width: 140px;
  margin: 20px;
  display: block;
}